<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Login</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
<base href="/" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>
<body>

	<div class="container">
		<h1>Hello patient...</h1>
		<br /><br /><br />
		<form th:object="${loggedInUser}">
			<div class="row">
				<label for="username">Username:</label>
				<span th:text="${loggedInUser.email}" />
			</div>
			<div class="row">
				<label for="firstName">Name:</label>
				 <span th:text="*{firstName}" /> <span th:text="*{lastName}" />
			</div>
			<div class="row">
				<label for="image">Image:</label>
				 <img th:attr="src=@{*{image}}" style="width: 150px; height: 150px;"/>
			</div>

			<div class="row">
				<label>Parkinson Disease exercise videos:</label>
				<br/>
				<a href="https://www.youtube.com/watch?v=Ez2GeaMa4c8" >Video 1</a><br/>
				<a href="https://www.youtube.com/watch?v=3n8UjH9h_8I" >Video 2</a><br/>
				<a href="https://www.youtube.com/watch?v=cRLB7WqX0fU" >Video 3</a><br/>
				<a href="https://www.youtube.com/watch?v=PgDhsv5Jmmc" >Video 4</a><br/>

			</div>


		</form>
		<br />

		<div class="row">
			<form action="#" th:action="@{/connect/facebook}" th:method="delete" >
				<button type="submit" id="submitButton">Logout </button>
			</form>
		</div>
		 
	</div>

</body>
</html>